/*
body {
    width: 90%;
}

header {
    position: fixed;
    top: 0px;
    left: 0px;
    padding: 10px;
    margin: 0px;
    width: 10%;
    background-color: #efefef;
    z-index: 1;
}

main {
    margin-left: 40em;
}

#nav li {
    padding: 0.5em;
}

.topicAssignment li {
    text-decoration-color: red;
}*/

.container {
    display: grid;
    grid-template-columns: 100px auto;
    grid-template-rows: auto;
}