/*
body {
    width: 90%;
}

header {
    position: fixed;
    top: 0px;
    left: 0px;
    padding: 10px;
    margin: 0px;
    width: 100%;
    background-color: #efefef;
    z-index: 1;
}

main {
    margin-top: 200px;
}

#nav li {
    padding: 3px;
}
*/

.container {
    height: 100%;
    display: grid;
    grid-template: 100px auto 50px  / repeat(12, 1fr);
    grid-gap: 3px;
    grid-template-areas: 
        "h h h h h h h h h h h h"
        "m c c c c c c c c c c c"
        "f f f f f f f f f f f f"
}

.header {
    grid-area: h;
    background-color: #efefef;
}

.menu {
    grid-area: m;
    background-color: #efefef;
}

.content {
    grid-area: c;
    padding-left: 5em;
    padding-right: 10em;
}

.footer {    
    grid-area: f;
    background-color: #efefef;
}

h1 {
    font-family: serif;
    font-size: 1.2em;
}

h2 {
    font-family: serif;
    font-size: 1.2em;
}

a {
    font-family: sans-serif;
}

#nav li {
    list-style-type: none;
    padding: 2px;
}